@import 'styles/_colors.scss';

.day {
  &.todo,
  &.done,
  &.missed {
    font-weight: bolder;
  }

  &.todo {
    &:not(:global(.MuiPickersDay-dayOutsideMonth)) {
      background-color: $yellow-background;
      color: $yellow-font;
    }

    &:global(.MuiPickersDay-dayOutsideMonth) {
      background-color: rgba($yellow-background, $alpha: 0.6);
      color: rgba($yellow-font, 0.6);
    }
  }

  &.done {
    &:not(:global(.MuiPickersDay-dayOutsideMonth)) {
      background-color: $green-background;
      color: $green-font;
    }

    &:global(.MuiPickersDay-dayOutsideMonth) {
      background-color: rgba($green-background, $alpha: 0.6);
      color: rgba($green-font, 0.6);
    }
  }

  &.missed {
    &:not(:global(.MuiPickersDay-dayOutsideMonth)) {
      background-color: $red-background;
      color: $red-font;
    }

    &:global(.MuiPickersDay-dayOutsideMonth) {
      background-color: rgba($red-background, $alpha: 0.6);
      color: rgba($red-font, 0.6);
    }
  }
}
