.wrapper {
  min-height: 100vh;
}

.mainWrapper {
  padding-top: 24px;
  padding-bottom: 24px;

  flex-grow: 1;

  background-image: url('/assets/images/background.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
