@import 'styles/_globals.scss';

.wrapper {
  width: calc($board-column-width * 3 + 2rem * 4);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-x: auto;
}

.board {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.wrapper,
.board {
  flex-grow: 1;
  max-width: 100%;
}
