@import 'styles/_globals.scss';

.wrapper {
  width: calc($board-column-width * 3 + 24px * 4);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-x: auto;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 0.5rem;
}

.date {
  font-weight: bolder;
}

.board {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.wrapper,
.board {
  flex-grow: 1;
  max-width: 100%;
}
